{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Wishlist</title>
  </head>
  <body>
    <h1>Wish List Items</h1>
    {% if not items %}
    <h3>No Wish Items Exist</h3>
    <hr />
    {% else %}
    <table class="pure-table">
      <thead>
        <tr>
          <th>
            Description
          </th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items.all%}
        <tr>
          <td>
            {{item.description}}
          </td>
          <td><a href="{% url 'items_delete' item.id %}">X</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    {% endif %}
    <button class="pure-button">
      <a href="{% url 'add_to_list' %}">ADD TO LIST</a>
    </button>
  </body>
</html>
